#outerWrapDiv.container
  #innerWrapDiv.mktEditable
    #container.container_16
      .grid_16
        #mktHeader.header
          %h1.branding
            Create Your Invoice in Minutes
      .grid_16
        #content.box.shadow.mktEditable
          #textarea
            #lpeCDiv_3928.lpeCElement
              %span.lpContentsItem.richTextSpan
                %div
                  %a.trackLink.lightbox.cboxElement{:_mce_href => "#", :href => "#"}
                    -#%img#ExtBox1-ext-gen1300{:_mce_src => "#{asset_path('1.JPEG')}", :_mce_style => "border: 1px solid #cacaca; display: block; margin-left: auto; margin-right: auto;", :height => "384", :src => "#{asset_path("1.JPEG")}", :style => "border: 1px solid #cacaca; display: block; margin-left: auto; margin-right: auto;", :width => "450"}/
                  %br{:_mce_bogus => "1"}/
                %h3  GetInvoice Platform as a Service
                %p GetInvoice provide easy to generate and record your daily invoces.It solutions that enable you to record incomming and out going products, so that you deploy more quickly, scale with ease.
            #lpeCDiv_3929.lpeCElement
              

